CLOUDINARY_CLOUD_NAME = 
CLOUDINARY_API_KEY = 
CLOUDINARY_API_SECRET = 


# atlas Admin user : root
# root user password for atlas : 


#MONGODB_USER = SuperAdmin
#MONGODB_PASSWORD = 


MONGODB_URL = 
MONGODB_NAME = BloodBridge

#App URL
APP_URL = https://bloodbridge-backend-hpym.onrender.com/

#SMTP credentials
SMTP_PROVIDER = gmail
SMTP_HOST = smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS = 
SMTP_FROM_ADDRESS=

JWT_TOKEN = 

FRONTEND_URL = http://localhost:5173/


## Firebase Amin SDK
  TYPE = 
  PROJECT_ID = 
  PRIVATE_KEY_ID = 
  PRIVATE_KEY = 
  CLIENT_EMAIL = 
  CLIENT_ID = 
  AUTH_URI = 
  TOKEN_URI = 
  AUTH_PROVIDER_X509_CERT_URL = 
  CLIENT_X509_CERT_URL = 
  UNIVERSE_DOMAIN = 